body{
    display: flex;
    background-color:green;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding:0;
    margin: 0;
}

h2{
    border-bottom: 5px;
    text-align: center;
    font-weight: bold;
    color: rgb(45, 69, 39);
}

.card{
    
    background-color: lightgreen;
    width: 500px;
    height:300px;
    padding: 30px;
    
}

form{
    
    display: flex;
    flex-direction: column;
    border-bottom: 5px;
}

input{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 1px solid black;
}

button{
    background-color: seagreen;
    padding: 8px;
    color: antiquewhite;
}

input:hover{
    background-color: #b0aeae;

}

button:hover{
    background-color: rgb(29, 91, 56);
}